@use "../../global";

.todoitem {
  display: flex;
  justify-content: center;
}
.todoitem__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border: 0.1rem solid var(--plump-purple);
  border-radius: 0.1rem;
  width: 15rem;
  min-height: 3rem;
  margin: 1rem;
  background-color: var(--plump-purple);
  color: var(--white);
  font-weight: 800;
  font-size: var(--md);
  text-align: center;
}

.todoitem__p {
  display: inline;
  padding: 0 1rem;
}
.todoitem__completed {
  text-decoration: line-through;
}

.todoitem__span {
  height: 2.5rem;
}

.delete-icon {
  font-size: 1.7rem;
  color: black;
  padding: 0.3rem;
  background-color: white;
  border-radius: 5rem;
}

.delete-icon:hover {
  cursor: pointer;
  color: white;
  background-color: red;
}

.check-icon {
  font-size: 1.7rem;
  stroke: #439b4a;
  stroke-width: 0.2rem;
  padding: 0.3rem;
  background-color: white;
  border-radius: 5rem;
}

.check-icon:hover {
  cursor: pointer;
  background-color: #439b4a;
  stroke: white;
}

.checkIconCompleted {
  background-color: #439b4a;
  stroke: white;
}

.checkIconCompleted:hover {
  cursor: default;
}

.svgContainer {
  border: solid red 4px;
  polygon {
    fill: white;
  }
}

.svgContainerChecked {
  border: solid red 4px;
  polygon {
    fill: #439b4a;
  }
}
